/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/backend
/public/frontend
/public/uploads
/nbproject/private/
/public/audio/*
/public/categories/*
/public/images/*
/public/music/*
/public/uploads/*
/public/favicon.ico
/public/index.php
/public/robosts.txt
/public/storage
/public/web.config
/public/.htaccess

