<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Audio List </div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="list_audio" class="page">
        <div class="page-content">
            <div class="block-title"></div>
      <div class="list media-list">
        <ul class="audios" style="margin: 5px;">
        
        </ul>
      </div>
      <div class="music-container" id="music-container">
                                <div class="music-info">
                                
    <div class="duration">
        <p> <b><span id="title"></span></b><span id="currTime"></span><span id="durTime"></span> </p> 
    </div>
                                <div class="progress-container" id="progress-container">
                                  <div class="progress" id="progress"></div>
                                </div>
                                </div>

                                <audio src="music/ukulele.mp3" id="audio"></audio>

                                <div class="img-container">
                                <img src="img/ukulele.jpg" alt="music-cover" id="cover" />
                                </div>
                                <div class="navigation">
                                <button id="prev" class="action-btn">
                                  <i class="fas fa-backward"></i>
                                </button>
                                <button id="play" class="action-btn action-btn-big">
                                  <i class="fas fa-play"></i>
                                </button>
                                <button id="next" class="action-btn">
                                  <i class="fas fa-forward"></i>
                                </button>
                                </div>
                            </div>
                            
        </div>
    </div>
</div>
