@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 33px;
}

.row {
    display: contents;
}

.sidebar {
  /*height: 100%;*/
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cecece;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  display: none;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;  
  float: right;
}
.closebtnn{
  display: none;
  float: right;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;  
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.thumb-wrapper {
    text-align: center;
    /* border: 1px dotted orange; */
    margin: 0px;
    /*padding: 5px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#data_tbl_wrapper{
  font-size: 12px !important;
}
a.paginate_button {
    padding: 5px;
    font-size: 14px;
    color: blue;
}
#data_tbl tr th{
    width: 72px;
    font-size:14px;
  /*color: white;*/
  text-align: inherit;
}
#data_tbl tr td{
    font-size:14px;
}
div#data_tbl_length, .dataTables_filter {
    display: initial;
    margin-right: 5em;
    font-size: 14;
}
div#data_tbl_paginate a {
    cursor: pointer;
}
div#data_tbl_info, #data_tbl_paginate {
    margin-top: 5px;
    margin-bottom: 5px;
}

#data_tbl a img {
    width: 14;
}
div#data_tbl_filter {
    float: right;
}

/*Listing Audion*/
.card {
    border: none;
    height: 400px
}

.cant {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.music {
    margin-bottom: 10px
}

.music:hover {
    background-color: #f7f7f7;
    border-radius: 3px;
    cursor: pointer
}

.color {
    color: #ff7e3d
}

.playlist {
    height: 51px
}

.btn-danger {
    color: #fff;
    background-color: #ff7e3d;
    border-color: #ff7e3d
}

.btn-danger:hover,
.btn-danger:active {
    color: #fff;
    background-color: #ff7e3d;
    border-color: #ff7e3d
}

.btn-danger:focus {
    box-shadow: none
}

div#country_list {
    border: 1px orange dotted;
    padding: 5px;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 3px;
}

@media screen and (max-width: 550px) {
  div#data_tbl_length, .dataTables_filter {
    display: initial;
    margin-right: 0em;
    font-size: 12;
  }
}

div#music-container {
  /* display: none; */
}
#player_options{
  text-align: right;
}