/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.pages {
  background: none;
}*/

.statusbar-overlay {
    background: #000000;
}
.navbar, .page-content,.toolbar{
    border: 1px solid orange;
}
.navbar {
    border-bottom: 0px;
}
.toolbar {
    border-top: 0px;
}

.rcorners2 {
  border-radius: 25px;
  border: 1px solid #fead19;
  padding: 10px; 
  width: auto;
  height: auto;
  display: flex;
  height: 140px;
  width: auto;
  overflow-x: auto;
  background: #f7f7f8;
}

@media screen and (max-width: 321px) {
  .rcorners2 {
    /* padding: 12px; */
  }
}

.row.no-gap .col img , .row.no-gap2 .col img , .row.no-gap-narrators .col img{
  border-radius: 30%;
}
.row.no-gap .col , .row.no-gap2 .col  , .row.no-gap-narrators .col  {
    text-align: center;
    margin-right: 19px;
}

a.elevation-demo {
  background: #fff;
  font-size: 16px;
}


div#data_tbl_filter, .dataTables_length {
  float: left !important;
  margin-left: 9px;
}

#data_tbl_length{
  margin-left: 9px;
}

.dataTables_filter{
  float: right !important;
  margin-right: 5px;
  text-align: left !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 1px 10px !important;
}

a.list_cat_home img {
    border: 2px solid orange;
}

span.append_render_chips {
  display: -webkit-inline-box;
  /* min-width: 320px; */
  overflow: auto;
  height: 50 px;
  background: lightyellow;
  border-radius: 7px;
  border: 1px solid lightsalmon;
  margin: 5px;
  max-width: -webkit-fill-available;
}

.chip {  
  height: 35px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 20px;
  background-color: orange;
  border: 1px dashed white;
  margin: 7px;
  width: fit-content;
  padding: 3px 6px;
  text-align: center;
}


.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    max-width: 200px;
  }

  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px
  }

  .demo-swiper {
    margin: 0px 0 0px;
    font-size: 18px;
    height: auto;
    padding: 5px;
  }

  .fam-pause{
    display: none;
  }
  .toolbar-inner a {
    padding: 5px;
    font-size: x-large;
  }

  .popup_right_content{
    padding-left: 5px;
    /*font-size: large;*/
  }